<!DOCTYPE html>
<script>
    window.downloadFileFromStream = (fileName, byteArray) => {
        const blob = new Blob([new Uint8Array(byteArray)], { type: 'application/pdf' });
        const link = document.createElement('a');
        link.href = URL.createObjectURL(blob);
        link.download = fileName;
        link.click();
        URL.revokeObjectURL(link.href);
    };
</script>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
</body>
</html>